@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Chakra Petch", sans-serif;
}

.banner1,
.banner2,
.banner3,
.banner4,
.banner5,
.banner6 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


.slider:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.4));
    z-index: 1;
}

img {
  width: 120%;
  animation: zoom-out 20s linear infinite;
}

.text-box {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 40%;
  color: white;
  z-index: 3;
}
.text-box h1 {
  font-size: 2rem;
}

@keyframes textUp {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(20px);
  }
  40% {
    transform: translateY(40px);
  }
  60% {
    transform: translateY(60px);
  }
  80% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(100px);
  }
}
.text-box span {
  width: 100px;
  height: 1px;
  background-color: orange;
  position: absolute;
  left: 0;
}

.slide1 {
  animation: fade1 20s linear infinite;
}

.slide2 {
  animation: fade2 20s linear infinite;
}

.slide3 {
  animation: fade3 20s linear infinite;
}

.slide4 {
    animation: fade4 20s linear infinite;
}

.slide5 {
    animation: fade5 20s linear infinite;
}

.slide6 {
    animation: fade6 20s linear infinite;
}


@keyframes fade1 {
  0% {
    visibility: visible;
  }
  20% {
    visibility: hidden;
  }
  40% {
    visibility: hidden;
  }
  60% {
    visibility: hidden;
  }
  80% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes fade2 {
   0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  40% {
    visibility: hidden;
  }
  60% {
    visibility: hidden;
  }
  80% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes fade3 {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  40% {
    visibility: visible;
  }
  60% {
    visibility: hidden;
  }
  80% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes fade4 {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  40% {
    visibility: hidden;
  }
  60% {
    visibility: visible;
  }
  80% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes fade5 {
    0% {
        visibility: hidden;
      }
      20% {
        visibility: hidden;
      }
      40% {
        visibility: hidden;
      }
      60% {
        visibility: hidden;
      }
      80% {
        visibility: visible;
      }
      100% {
        visibility: hidden;
      }
}
@keyframes fade6 {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  40% {
    visibility: hidden;
  }
  60% {
    visibility: hidden;
  }
  80% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes zoom-out {
  100% {
    width: 100%;
  }
}



/* Landing style here 
*/



.content{
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translate(-0%);
    text-align: center;
    color: #fff;
    z-index: 2;
    height: 500px;
}
.content h1 {
    font-size: 500%;
    margin-top: 2%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    color: #fff;
	position: absolute;
}

.content h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 3px #fff;
}

.content h1:nth-child(2) {
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content div {
    height: auto;
}

.bannerButton {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 10% 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 4px solid rgb(16, 84, 230);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 4;
    height: auto;
    font-family: 'Poppins', sans-serif;
}

span {
    background:#03a9f4;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.bannerButton:hover span{
    width: 100%;
}

.footer {
  color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 4;
  height: auto;
}

@media screen and (min-width: 1920px) {
  /**For Large Laptops */
      .bannerButton {
        margin: 7% 10px;
          
      }

      .text-box {
        width: 100%;
        top: 45%;
        left: 45%;
      }

      .slider:before {
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.5));
    }

  }

