<!DOCTYPE html>
{% extends 'dashboard/base2.html' %}
{% load static %}
{% block title %}Add Jetty{% endblock %} 
{% block additionalStyles %}
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/addpassenger.css' %}"/>

{% endblock %}
{% block body_block %}
    <div class="centerDiv">
        <header>
            <div id="logo"><img src="{% static 'images/laswa.png' %}" alt="Laswa Logo"></div>
            <h3>LAGOS STATE WATERWAYS AUTHORITY</h3>
        </header>
        <form class="uploadPassenger" method="post">
            {% csrf_token %}
            <h4>UPLOAD INCIDENT DATA</h4>
            <label for="csvupload">Upload CSV<span style="color: red; font-weight:bold"> *</span></label>
            <input type="file" id="myFile" accept=".csv" multiple>
            <div class="submitContainer">
                <input type="button" value="View CSV" id="viewCSV" onclick="showTable()">
                <input type="submit">
            </div>
            
        </form>
        <table class="showCSV"></table>

    </div>
    <script src="{% static 'scripts/addPassenger.js' %}"></script>
    
{% endblock %}