<!DOCTYPE html>
{% extends 'dashboard/base2.html' %}
{% load static %}
{% block body_block %}
{{ passenger_in|json_script:"passengerInList" }};
{{ bathy_data|json_script:"bathyData"}}
<script>
    var pk = 50
    var pkname = "{{ jetty.name }}";
    fetch("http://shadie77.pythonanywhere.com/api/jetty").then(response => response.json()).then(data => {
        dataArray = data.features
        dataArray.forEach(element => {
            if (element.properties.name == pkname) {
                pk = element.id
            }
        });
    })
    console.log(pk)
    var bathymetry = JSON.parse(document.getElementById('bathyData').textContent);
    console.log(bathymetry)
    function slide(){
        var btn_click = document.getElementsByClassName('trialfix')[0];
        var arrow = document.getElementById('arrowDirection');
        btn_click.classList.toggle('active');
        if (btn_click.classList.contains('active')){
            arrow.innerHTML = '︽';
        } else {
            arrow.innerHTML = '︾';
                }
        }
</script>
<div class="mainContent">
    <aside class="filterDiv">
        <div class="trialfix">
            <header class="laswatitle">
                <img src="{% static 'images/laswa.png' %}" alt="Laswa Logo"/>
                <h3>LAGOS STATE WATERWAYS AUTHORITY</h3>
            
            </header>
            <div class="topic">
                <span style="display: inline-block; padding: 11px 10px; font-weight: bold; color: rgb(31, 31, 30);">Filters</span>
            </div>
            <div class="rangeFlex">
                <div class="label">
                    <label class="container">
                        <input type="radio" checked="checked" name="radio" id="singleDate">
                        <span class="checkmark"></span>Single Date
                      </label>
                </div>
                <div class="datebox">
                    <div>
                        <input type="date" id="todayDate" value="2022-07-04">
                    </div>
                </div>
            </div>
            <div class="rangeFlex even">
                <div class="label">
                    <label class="container">
                        <input type="radio" name="radio" id="dateRange">
                        <span class="checkmark"></span>Date range
                      </label>
                </div>
                <div class="datebox">
                    <div>
                        <input type="date" id="dateRange1" value="1970-01-01">
                        <span> &nbsp; - &nbsp;</span>
                        <input type="date" id="dateRange2" value="1970-01-01">
                    </div>
                </div>
            </div>
            <div class="rangeFlex even">
                <div class="label">
                    Time Range
                </div>
                <div class="datebox">
                    <div>
                        <input type="time" id="appt" name="appt">
                        <span> &nbsp; - &nbsp;</span>
                        <input type="time" id="appt2" name="appt">
                    </div>
                </div>
            </div>
            <div class="submitDiv">
                <input type="submit" value="Filter">
            </div>
            <div class="scrollcontainer" onclick="slide()">
                <div class="scroll">
                    <span id="arrowDirection" style="font-size: 1.5rem; font-weight: 1.5rem; margin: 50%;">︾</span>
                </div>
            </div>
        </div>
    </aside>
    <div class="contentDiv">
        
        <div class="pictureDiv">
            <!--
            <img src="{% static 'images/test/test4.jpg' %}"/>
            -->
            <!-- Add Jetty Image Slide Here -->
            {% for picture in jetty_pictures %}
                <img class="pictures" style="object-fit: cover;" src="{{picture.picture.url}}"/>
            {% endfor %}
            
            <h3>{{ jetty.name }}</h3>
        </div>
        <div class="summaryChartDiv">
            <!-- Add Summary Pie Charts Here -------------------------------->


            <!-------------------------------------------------------------->
            <div class="summaryDiv">
                <!-- Add Avg Boat Ride Here -->
                <div class="summaryHeader">
                    <!-- Header Goes Here-->
                    Total Boat Count
                </div>
                <div class="summaryDetails">
                    <div class="summarychild">
                        <div style="width: 25px; height: 10px; background-color: #f443368c; display: inline-block; float: right;">&nbsp;</div>
                        <span style="font-size:small; color: #f443368c; float: right;"> In&nbsp; </span>
                        <br>
                        <div class="count">
                            <span id="arrivalBoatCount">
                            </span>
                            
                        </div>
                    </div>
                    <div class="summarychild">
                        <!-- Javascript code for doughnut chart -->
                        <canvas id="boatpiechart"></canvas>
                        <span id="bountCountPercent" style="position: relative; left: 20%; top:-60%; font-size: larger; color:#f4938c; font-weight: bolder;"></span>
                    </div>
                    <div class="summarychild boatchartWordings">
                        <div style="width: 25px; height: 10px; background-color: #2196f38c; display: inline-block;">&nbsp;</div>
                        <span style="font-size:small; color: #2196f38c;"> Out </span>
                        <br> 
                        <div class="count">
                            <span id = 'departureBoatCount'> 
                        </span>
                        </div>
                    </div>  
                </div>
            </div>
            <!------------------------------------------------------------------------------------------------>

            <div class="summaryDiv">
                <div class="summaryHeader">
                    <!-- Header Goes Here-->
                    Total Passenger Count
                </div>
                <div class="summaryDetails">
                    <div class="summarychild passengerchartWordings">
                        <div style="width: 25px; height: 10px; background-color: #f443368c; display: inline-block; float: right;">&nbsp;</div>
                        <span style="font-size:small; color: #f443368c; float: right;"> In&nbsp; </span>
                        <br>
                        <div class="count">
                            <span id="passengersIn">
                            </span>
                        </div>
                    </div>
                    <!-- Add Avg Passenger Pie Chart Here-->
                    <div class="summarychild">
                        <canvas id="passengerpiechart"></canvas>
                        <span id="passengersPercent" style="position: relative; left: 20%; top:-60%; font-size: larger; font-weight: bolder; color:#f4938c;"></span>
                        <!-- Javascript code for doughnut chart -->
                    </div>
                    <div class="summarychild passengerchartWordings">
                        <div style="width: 25px; height: 10px; background-color: #2196f38c; display: inline-block;">&nbsp;</div>
                        <span style="font-size:small; color: #2196f38c;"> Out </span>
                        <br> 
                        <div class="count">
                            <span id="passengersOut"> 
                            </span>
                        </div>  
                        
                    </div>
                </div>
                
            </div>
            <!------------------------------------------------------------------------------------------------->

            <div class="summaryDiv">
                <div class="summaryHeader">
                    <!-- Header Goes Here-->
                    Passenger-In By Gender
                </div>
                <div class="summaryDetails">
                    <div class="summarychild passengerchartWordings">
                        <div style="width: 25px; height: 10px; background-color: #f443368c; display: inline-block; float: right;">&nbsp;</div>
                        <span style="font-size:small; color: #f443368c; float: right;"> Male&nbsp; </span>
                        <br>
                        <div class="count">
                            <span id="maleIn">
                            </span>
                        </div>
                    </div>
                    <div class="summarychild">
                        <canvas id="piechart"></canvas>
                        <span id="passengersInPercent" style="position: relative; left: 20%; top:-60%; font-size: larger; font-weight: bolder; color:#f4938c;"></span>
                    </div>
                    <div class="summarychild passengerchartWordings">
                        <div style="width: 25px; height: 10px; background-color: #2196f38c; display: inline-block;">&nbsp;</div>
                        <span style="font-size:small; color: #2196f38c;"> Female </span>
                        <br> 
                        <div class="count">
                            <span id="femaleIn">

                            </span>  
                        </div>   
                    </div>
                </div>
            </div>

            <!------------------------------------------------------------------------------------->
            <div class="summaryDiv">
                <div class="summaryHeader">
                    <!-- Header Goes Here-->
                    Passenger Out By Gender
                </div>
                <div class="summaryDetails">
                    <div class="summarychild passengerchartWordings">
                        <div style="width: 25px; height: 10px; background-color: #f443368c; display: inline-block; float: right;">&nbsp;</div>
                        <span style="font-size:small; color: #f443368c; float: right;"> Male&nbsp; </span>
                        <br>
                        <div class="count">
                            <span id="maleOut">
                            </span>
                        </div>
                    </div>
                    <div class="summarychild">
                        <canvas id="piechart"></canvas>
                        <span id="passengersInPercent" style="position: relative; left: 20%; top:-60%; font-size: larger; font-weight: bolder; color:#f4938c;"></span>
                    </div>
                    <div class="summarychild passengerchartWordings">
                        <div style="width: 25px; height: 10px; background-color: #2196f38c; display: inline-block;">&nbsp;</div>
                        <span style="font-size:small; color: #2196f38c;"> Female </span>
                        <br> 
                        <div class="count">
                            <span id="femaleOut">

                            </span>  
                        </div>   
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------->
            
            <!-------------------------------------------------------------------------------------------------------->
        </div>
        <!---------------------------------------------------------------------------------------------------------------------->
        <!----------------------------------------------------------------------------------------
        BOAT COUNT LINE CHART
        --------------------------------------------------------------------------------->
        <div class="special">
            <!-- Add line charts for passenger and boasts here-->
            <div class="linechart passengerData">
                <!-- Passenger line chart here-->
                <div class="summaryHeader">
                    Passenger Data
                </div>
                <div class="chartWithFilter">
                    <canvas id="lineWithFilter"></canvas>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------->
        
        <div class="linechartDiv">
            <!-- Add line charts for passenger and boasts here-->
            <div class="linechart passengerData">
                <!-- Passenger line chart here-->
                <div class="summaryHeader">
                    Trip Analysis (Arrival)
                </div>
                <div class="barChartDiv">
                    <canvas id="tripChartArrival"></canvas>
                </div>
            </div>
            <div class="linechart boatData">
                <!-- Add line chart for boat ride here-->
                <div class="summaryHeader">
                    Trip Analysis (Departure)
                </div>
                <div class="barChartDiv2">
                    <canvas id="tripChartDeparture"></canvas>
                </div>
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="special">
            <!-- Add line charts for passenger and boasts here-->
            <div class="linechart passengerData">
                <!-- Passenger line chart here-->
                <div class="summaryHeader">
                    Boat Data
                </div>
                <div class="chartWithFilter">
                    <canvas id="lineWithFilter2"></canvas>
                </div>
            </div>
        </div>
        <!--------------------------------------------------------------------------------------------------->
        <div class="linechartDiv bathyDiv">
            <div class="linechart">
                <div class="summaryHeader">
                    Bathymetry
                </div>
                   <div id="batthyy">
                </div>

            </div>
        </div>
        <div class="linechartDiv">
            <div class="linechart">
                <div class="summaryHeader">
                    Needs Assessment (Facilities)
                </div>
                <div class="tableDiv">
                    <table class="jettyinfotable">
                        <tr>
                            <th></th>
                            <th>Infrastructure</th>
                            <th>Yes</th>
                            <th>No</th>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/restaurant.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Restaurants</td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/access.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Access Road</td>
                            <td>Y</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/parking.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Parking Space</td>
                            <td>N</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/building.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Building</td>
                            <td>N</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/waiting-room.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Waiting Room</td>
                            <td>N</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/ticket-window.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Ticketing Area</td>
                            <td>N</td>
                            <td>N</td>
                        </tr>
                </table>
                </div>

            </div>
            <div class="linechart">
                <div class="summaryHeader">
                    Needs Assessment (Security)
                </div>
                <div class="tableDiv">
                    <table class="jettyinfotable">
                        <tr>
                            <th></th>
                            <th>Safety Amenities</th>
                            <th>Yes</th>
                            <th>No</th>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/Fender.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Fender</td>
                            <td>Yes</td>
                            <td>&#x2715</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/anchor.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Anchor</td>
                            <td>Y</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/buoys.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Buoys</td>
                            <td>N</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/life-jacket.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Life Jackets</td>
                            <td>N</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/customs-agent.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Security Personnels</td>
                            <td>N</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'markers/fire-station.png' %}" style="width: 20px; height: 20px;"></td>
                            <td>Fire Station</td>
                            <td>N</td>
                            <td>N</td>
                        </tr>
                </table>
                    
                    
                </div>
            </div>
            <div class="linechart">
                <div class="summaryHeader">
                    Needs Assessment (Infrastructures)
                </div>
                <div class="tableDiv">
                    <table class="jettyinfotable">
                            <tr>
                                <th></th>
                                <th>Infrastructure</th>
                                <th>Yes</th>
                                <th>No</th>
                            </tr>
                            <tr>
                                <td><img src="{% static 'markers/ramp.png' %}" style="width: 20px; height: 20px;"></td>
                                <td>Disability Ramp</td>
                                <td id="yes">&#10004;</td>
                                <td id="no">No</td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'markers/toilets.png' %}" style="width: 20px; height: 20px;"></td>
                                <td>Restrooms</td>
                                <td>Y</td>
                                <td>N</td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'markers/dock.png' %}" style="width: 20px; height: 20px;"></td>
                                <td>Landing Dock</td>
                                <td>N</td>
                                <td>N</td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'markers/railings.png' %}" style="width: 20px; height: 20px;"></td>
                                <td>Guard Rails</td>
                                <td>N</td>
                                <td>N</td>
                            </tr>
                    </table>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <aside class="sidePanelDiv">
        <section>
            {% if user.user_profile.profile_pic %}
                <img src="{{ user.user_profile.profile_pic.url }}" />
            {% else %}
                <img src="{% static 'default/default.jpg' %}" />
              {% endif %}
            <section>
                <name>{{ user.first_name}} {{ user.last_name }}</name>
                <actions><a href="#settings">Profile</a> | <a href="{% url 'signout' %}">logout</a></actions>
            </section>
        </section>
        <div class="topic">
            <span style="display: inline-block; padding: 11px 10px; font-weight: bold; color: rgb(31, 31, 30);">Jetty Information</span>
        </div>
        <div class="needsDiv">
            <table class="jettyinfotable">
                <tr>
                    <td><img src="{% static 'markers/longitude.png' %}" style="width: 5px; height: 5px;"></td>
                    <td>Ikorodu, Lagos</td>
                </tr>
                {% for coord in jetty.geom.coords %}
                    {% for lon in coord %}
                        <tr>
                            <td><img src="{% static 'markers/latitude.png' %}" style="width: 5px; height: 5px;"></td>
                            <td>{{ lon }}</td>
                        </tr>
                    {% endfor%}
                {% endfor %}
                <tr>
                    <td>Hierarchy</td>
                    <td>{{ jetty.terminal }}</td>
                </tr>
                <tr>
                    <td>Water Guard</td>
                    <td>{{ jetty.type }}</td>
                </tr>
                <tr>
                    <td>Landing</td>
                    <td>{{ jetty.type }}</td>
                </tr>
                
                
            </table>
        </div>
        <div class="topic">
            <span style="display: inline-block; padding: 11px 10px; font-weight: bold; color: rgb(31, 31, 30);">Respondents Comments</span>
        </div>
    </aside>

</div>

<script type="text/javascript" src="{% static 'scripts/details.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jettydetails.js' %}"></script>

{% endblock %}