<!DOCTYPE HTML>
{% load static %}
<html lang="en" >
    <head>
        <title>{{ pageTitle }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body class="body">
        <div class="login-page">
            <div class="form">

    <form method="POST" action= "{% url 'login' %}">
        {% csrf_token %}
        <lottie-player src="https://assets4.lottiefiles.com/datafiles/XRVoUu3IX4sGWtiC3MPpFnJvZNq7lVWDCa8LSqgS/profile.json"  background="transparent"  speed="1"  style="justify-content: center;" loop  autoplay></lottie-player>
        <input type="text" placeholder="&#xf007;  username" name="username"/>
        <input type="password" id="password" placeholder="&#xf023;  password" name="password"/>
        <i class="fas fa-eye" onclick="show()"></i> 
        <br>
        <br>
        <button>LOGIN</button>
        <p class="message">{{ errorMessage }}</p>
    </form>
</div>

  <script>
    function show(){
      var password = document.getElementById("password");
      var icon = document.querySelector(".fas")

      // ========== Checking type of password ===========
      if(password.type === "password"){
        password.type = "text";
      }
      else {
        password.type = "password";
      }
    };
  </script>
</body>
</html>

