<!DOCTYPE HTML>
{% load static %}
<html lang="en" >
<head>
  <title>Registration Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body class="body">
  <div class="login-page">
    <div class="form">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
        </form>
    </div>
  </div>
  <script>
      function show(){
        var password = document.getElementById("password");
        var icon = document.querySelector(".fas")

        // ========== Checking type of password ===========
        if(password.type === "password"){
          password.type = "text";
        }
        else {
        password.type = "password";
        }
      };
  </script>
</body>
</html>

